.top-nav {
  a {
    color: inherit;
  }

  .level-0 {
    display: flex;
    justify-content: center;
  }

  .level-0-a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    padding: 26px 20px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}